In [1]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
print(df)

# Calculate sum along rows (axis=0)
row_sum = df.sum(axis=0)
print("Sum along rows (axis=0):\n", row_sum)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
Sum along rows (axis=0):
 A     6
B    15
C    24
dtype: int64

In [2]:
import pandas as pd

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
print(df)

# Calculate sum along columns (axis=1)
df['RowSum'] = df.sum(axis=1)
print("DataFrame with RowSum column:\n", df)

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
DataFrame with RowSum column:
    A  B  C  RowSum
0  1  4  7      12
1  2  5  8      15
2  3  6  9      18

In [3]:
import pandas as pd

# Sample data with a column containing lists
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Grades': [[90, 85, 92], [78, 89, 91], [95, 88, 84]]}

df = pd.DataFrame(data)

print(df)

      Name        Grades
0    Alice  [90, 85, 92]
1      Bob  [78, 89, 91]
2  Charlie  [95, 88, 84]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Grades  3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes

In [5]:
df.loc[0,'Grades']

[90, 85, 92]

In [6]:
data = [{'name':'Alice','grades':[10,20]},
        {'name':'Blice','grades':[50,70]}
       ]
df = pd.DataFrame(data)
df

    name    grades
0  Alice  [10, 20]
1  Blice  [50, 70]

In [8]:
df.loc[0,'grades']

[10, 20]

In [14]:
ball = []
ball = df['grades'].apply(lambda x: ball + x)
ball

0    [10, 20]
1    [50, 70]
Name: grades, dtype: object

In [13]:
a = [1,2] + [5,6] + [0,8,9] + []
a

[1, 2, 5, 6, 0, 8, 9]

In [18]:
import re

pattern = r'\d.*[a-zA-Z]$'

strings = ['1',
 '1W',
 '1b',
 '1lb',
 '1nb',
 '1w',
 '2',
 '2W',
 '2b',
 '2lb',
 '2n-b',
 '2nb',
 '2w',
 '3',
 '3b',
 '3lb',
 '3nb',
 '3w',
 '4',
 '4b',
 '4lb',
 '4w',
 '5nb',
 '5w',
 '6',
 '7nb',
 'W',
 '•'
]

for s in strings:
    if re.match(pattern, s):
        print(f'Match: {s}', int(s[0]))
    else:
        print(f'No match: {s}')

No match: 1
Match: 1W 1
Match: 1b 1
Match: 1lb 1
Match: 1nb 1
Match: 1w 1
No match: 2
Match: 2W 2
Match: 2b 2
Match: 2lb 2
Match: 2n-b 2
Match: 2nb 2
Match: 2w 2
No match: 3
Match: 3b 3
Match: 3lb 3
Match: 3nb 3
Match: 3w 3
No match: 4
Match: 4b 4
Match: 4lb 4
Match: 4w 4
Match: 5nb 5
Match: 5w 5
No match: 6
Match: 7nb 7
No match: W
No match: •

In [2]:
import pandas as pd

# List of dictionaries
data = [
    {'Name': 'Alice', 'Age': 25, 'City': 'New York'},
    {'Name': 'Bob', 'City': 'Los Angeles'},
    {'Name': 'Charlie', 'Age': 22, 'City': 'Chicago'}
]

# Create a DataFrame from the list of dictionaries
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

      Name   Age         City
0    Alice  25.0     New York
1      Bob   NaN  Los Angeles
2  Charlie  22.0      Chicago